# 드라이브 연결 (파일 가져오기)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pwd

/content

In [ ]:
# tar폴더 압축해제
# !tar -xvf 파일경로 -C 압축 해제 위치
!tar -xvf /content/drive/MyDrive/dataset/train_features.tar -C /content

kden/
kden/kden_airport_config.csv.bz2
kden/kden_arrival_runway.csv.bz2
kden/kden_departure_runway.csv.bz2
kden/kden_etd.csv.bz2
kden/kden_first_position.csv.bz2
kden/kden_lamp.csv.bz2
kden/kden_mfs_runway_arrival_time.csv.bz2
kden/kden_mfs_runway_departure_time.csv.bz2
kden/kden_mfs_stand_arrival_time.csv.bz2
kden/kden_mfs_stand_departure_time.csv.bz2
kden/kden_tbfm_scheduled_runway_arrival_time.csv.bz2
kden/kden_tfm_estimated_runway_arrival_time.csv.bz2
kmia/
kmia/kmia_airport_config.csv.bz2
kmia/kmia_arrival_runway.csv.bz2
kmia/kmia_departure_runway.csv.bz2
kmia/kmia_etd.csv.bz2
kmia/kmia_first_position.csv.bz2
kmia/kmia_lamp.csv.bz2
kmia/kmia_mfs_runway_arrival_time.csv.bz2
kmia/kmia_mfs_runway_departure_time.csv.bz2
kmia/kmia_mfs_stand_arrival_time.csv.bz2
kmia/kmia_mfs_stand_departure_time.csv.bz2
kmia/kmia_tbfm_scheduled_runway_arrival_time.csv.bz2
kmia/kmia_tfm_estimated_runway_arrival_time.csv.bz2
kord/
kord/kord_airport_config.csv.bz2
kord/kord_arrival_runway.csv.bz2
kord/kord_departure_runway.csv.bz2
kord/kord_etd.csv.bz2
kord/kord_first_position.csv.bz2
kord/kord_lamp.csv.bz2
kord/kord_mfs_runway_arrival_time.csv.bz2
kord/kord_mfs_runway_departure_time.csv.bz2
kord/kord_mfs_stand_arrival_time.csv.bz2
kord/kord_mfs_stand_departure_time.csv.bz2
kord/kord_tbfm_scheduled_runway_arrival_time.csv.bz2
kord/kord_tfm_estimated_runway_arrival_time.csv.bz2
kclt/
kclt/kclt_airport_config.csv.bz2
kclt/kclt_arrival_runway.csv.bz2
kclt/kclt_departure_runway.csv.bz2
kclt/kclt_etd.csv.bz2
kclt/kclt_first_position.csv.bz2
kclt/kclt_lamp.csv.bz2
kclt/kclt_mfs_runway_arrival_time.csv.bz2
kclt/kclt_mfs_runway_departure_time.csv.bz2
kclt/kclt_mfs_stand_arrival_time.csv.bz2
kclt/kclt_mfs_stand_departure_time.csv.bz2
kclt/kclt_tbfm_scheduled_runway_arrival_time.csv.bz2
kclt/kclt_tfm_estimated_runway_arrival_time.csv.bz2
kdfw/
kdfw/kdfw_airport_config.csv.bz2
kdfw/kdfw_arrival_runway.csv.bz2
kdfw/kdfw_departure_runway.csv.bz2
kdfw/kdfw_etd.csv.bz2
kdfw/kdfw_first_position.csv.bz2
kdfw/kdfw_lamp.csv.bz2
kdfw/kdfw_mfs_runway_arrival_time.csv.bz2
kdfw/kdfw_mfs_runway_departure_time.csv.bz2
kdfw/kdfw_mfs_stand_arrival_time.csv.bz2
kdfw/kdfw_mfs_stand_departure_time.csv.bz2
kdfw/kdfw_tbfm_scheduled_runway_arrival_time.csv.bz2
kdfw/kdfw_tfm_estimated_runway_arrival_time.csv.bz2
ksea/
ksea/ksea_airport_config.csv.bz2
ksea/ksea_arrival_runway.csv.bz2
ksea/ksea_departure_runway.csv.bz2
ksea/ksea_etd.csv.bz2
ksea/ksea_first_position.csv.bz2
ksea/ksea_lamp.csv.bz2
ksea/ksea_mfs_runway_arrival_time.csv.bz2
ksea/ksea_mfs_runway_departure_time.csv.bz2
ksea/ksea_mfs_stand_arrival_time.csv.bz2
ksea/ksea_mfs_stand_departure_time.csv.bz2
ksea/ksea_tbfm_scheduled_runway_arrival_time.csv.bz2
ksea/ksea_tfm_estimated_runway_arrival_time.csv.bz2
kphx/
kphx/kphx_airport_config.csv.bz2
kphx/kphx_arrival_runway.csv.bz2
kphx/kphx_departure_runway.csv.bz2
kphx/kphx_etd.csv.bz2
kphx/kphx_first_position.csv.bz2
kphx/kphx_lamp.csv.bz2
kphx/kphx_mfs_runway_arrival_time.csv.bz2
kphx/kphx_mfs_runway_departure_time.csv.bz2
kphx/kphx_mfs_stand_arrival_time.csv.bz2
kphx/kphx_mfs_stand_departure_time.csv.bz2
kphx/kphx_tbfm_scheduled_runway_arrival_time.csv.bz2
kphx/kphx_tfm_estimated_runway_arrival_time.csv.bz2
kjfk/
kjfk/kjfk_airport_config.csv.bz2
kjfk/kjfk_arrival_runway.csv.bz2
kjfk/kjfk_departure_runway.csv.bz2
kjfk/kjfk_etd.csv.bz2
kjfk/kjfk_first_position.csv.bz2
kjfk/kjfk_lamp.csv.bz2
kjfk/kjfk_mfs_runway_arrival_time.csv.bz2
kjfk/kjfk_mfs_runway_departure_time.csv.bz2
kjfk/kjfk_mfs_stand_arrival_time.csv.bz2
kjfk/kjfk_mfs_stand_departure_time.csv.bz2
kjfk/kjfk_tbfm_scheduled_runway_arrival_time.csv.bz2
kjfk/kjfk_tfm_estimated_runway_arrival_time.csv.bz2
kmem/
kmem/kmem_airport_config.csv.bz2
kmem/kmem_arrival_runway.csv.bz2
kmem/kmem_departure_runway.csv.bz2
kmem/kmem_etd.csv.bz2
kmem/kmem_first_position.csv.bz2
kmem/kmem_lamp.csv.bz2
kmem/kmem_mfs_runway_arrival_time.csv.bz2
kmem/kmem_mfs_runway_departure_time.csv.bz2
kmem/kmem_mfs_stand_arrival_time.csv.bz2
kmem/kmem_mfs_stand_departure_time.csv.bz2
kmem/kmem_tbfm_scheduled_runway_arrival_time.csv.bz2
kmem/kmem_tfm_estimated_runway_arrival_time.csv.bz2
katl/
katl/katl_airport_config.csv.bz2
katl/katl_arrival_runway.csv.bz2
katl/katl_departure_runway.csv.bz2
katl/katl_etd.csv.bz2
katl/katl_first_position.csv.bz2
katl/katl_lamp.csv.bz2
katl/katl_mfs_runway_arrival_time.csv.bz2
katl/katl_mfs_runway_departure_time.csv.bz2
katl/katl_mfs_stand_arrival_time.csv.bz2
katl/katl_mfs_stand_departure_time.csv.bz2
katl/katl_tbfm_scheduled_runway_arrival_time.csv.bz2
katl/katl_tfm_estimated_runway_arrival_time.csv.bz2

In [ ]:
# !bunzip2 /content/ksea/ksea_*.csv.bz2 -C /content

# csv파일 확인

## deaprture_runway
## arrival_runway

In [ ]:
import pandas as pd

# 출발시 사용 런웨이
departure = pd.read_csv('/content/katl/katl_departure_runway.csv.bz2')
departure.head()

                                   gufi            timestamp departure_runway
0  DAL1691.ATL.PNS.201030.2349.0025.TFM  2020-11-01T00:01:25              09L
1  DAL2052.ATL.ECP.201030.2344.0020.TFM  2020-11-01T00:03:09              09L
2   DAL965.ATL.DEN.201030.2353.0049.TFM  2020-11-01T00:03:28              08R
3  DAL1134.ATL.DTW.201030.2349.0010.TFM  2020-11-01T00:04:28              08R
4  DAL1208.ATL.SAT.201031.0004.0001.TFM  2020-11-01T00:06:04              08R

In [ ]:
# '2020-11-06' 23시~24시의 출발시 사용 런웨이
a = departure['timestamp'].str.split('T')
departure['date'] = a.str.get(0)
departure = departure.loc[(departure['date'] == '2020-11-06')]

departure.tail(50)

,gufi,timestamp,departure_runway,date
3953,DAL1673.ATL.GSO.201105.2248.0082.TFM,2020-11-06T23:00:34,09L,2020-11-06
3954,DAL1083.ATL.MSP.201105.2253.0109.TFM,2020-11-06T23:01:45,08R,2020-11-06
3955,DAL1414.ATL.BWI.201105.2253.0231.TFM,2020-11-06T23:01:47,09L,2020-11-06
3956,DAL1780.ATL.GSP.201105.2253.0252.TFM,2020-11-06T23:02:42,09L,2020-11-06
3957,DAL1606.ATL.CVG.201105.2253.0217.TFM,2020-11-06T23:02:52,08R,2020-11-06
3958,DAL1728.ATL.JAX.201105.2248.0044.TFM,2020-11-06T23:03:14,09L,2020-11-06
3959,DAL1296.ATL.ROC.201105.2253.0111.TFM,2020-11-06T23:03:46,08R,2020-11-06
3960,DAL594.ATL.MEX.201105.2238.0053.TFM,2020-11-06T23:04:39,09L,2020-11-06
3961,DAL714.ATL.PDX.201105.2253.0220.TFM,2020-11-06T23:04:58,08R,2020-11-06
3962,DAL1566.ATL.MCO.201105.2253.0221.TFM,2020-11-06T23:05:26,09L,2020-11-06
3963,DAL1629.ATL.SDF.201105.2253.0239.TFM,2020-11-06T23:05:38,08R,2020-11-06
3964,SWA2456.ATL.DAL.201105.2248.0098.TFM,2020-11-06T23:06:11,08R,2020-11-06
3965,NKS1058.ATL.TPA.201105.2243.0077.TFM,2020-11-06T23:06:34,09L,2020-11-06
3966,SWA900.ATL.MDW.201105.2253.0215.TFM,2020-11-06T23:07:41,08R,2020-11-06
3967,SWA523.ATL.JAX.201105.2243.0110.TFM,2020-11-06T23:08:13,09L,2020-11-06
3968,DAL871.ATL.PHX.201105.2243.0082.TFM,2020-11-06T23:09:01,08R,2020-11-06
3969,DAL1353.ATL.FLL.201105.2253.0122.TFM,2020-11-06T23:09:14,09L,2020-11-06
3970,DAL1319.ATL.ORD.201105.2253.0119.TFM,2020-11-06T23:10:02,08R,2020-11-06
3971,DAL1752.ATL.SAV.201105.2258.0049.TFM,2020-11-06T23:10:24,09L,2020-11-06
3972,DAL339.ATL.SEA.201105.2253.0244.TFM,2020-11-06T23:11:09,08R,2020-11-06
3973,DAL1678.ATL.CLT.201105.2258.0051.TFM,2020-11-06T23:11:17,09L,2020-11-06
3974,DAL2020.ATL.TPA.201105.2253.0235.TFM,2020-11-06T23:11:53,09L,2020-11-06
3975,EDV5077.ATL.MDT.201105.2303.0127.TFM,2020-11-06T23:12:08,08R,2020-11-06
3976,DAL1249.ATL.EWR.201105.2253.0106.TFM,2020-11-06T23:12:49,09L,2020-11-06
3977,DAL72.ATL.AMS.201105.2238.0079.TFM,2020-11-06T23:14:47,09L,2020-11-06
3978,EDV5045.ATL.ATW.201105.2308.0070.TFM,2020-11-06T23:17:05,08R,2020-11-06
3979,DAL1493.ATL.ORF.201105.2258.0043.TFM,2020-11-06T23:17:22,09L,2020-11-06
3980,SWA561.ATL.HOU.201105.2243.0116.TFM,2020-11-06T23:18:20,08R,2020-11-06
3981,AAL2256.ATL.MIA.201105.2253.0195.TFM,2020-11-06T23:18:24,09L,2020-11-06
3982,AAL190.ATL.DFW.201105.2303.0114.TFM,2020-11-06T23:19:31,08R,2020-11-06
3983,DAL429.ATL.JFK.201105.2258.0050.TFM,2020-11-06T23:20:16,09L,2020-11-06
3984,EDV4700.ATL.GRB.201105.2313.0096.TFM,2020-11-06T23:24:55,08R,2020-11-06
3985,DAL405.ATL.BOS.201105.2308.0075.TFM,2020-11-06T23:25:08,09L,2020-11-06
3986,DAL1243.ATL.ICT.201105.2318.0055.TFM,2020-11-06T23:29:41,08R,2020-11-06
3987,JBU720.ATL.JFK.201105.2318.0046.TFM,2020-11-06T23:30:27,09L,2020-11-06
3988,DAL1725.ATL.CHS.201105.2318.0029.TFM,2020-11-06T23:31:53,09L,2020-11-06
3989,EDV4748.ATL.BQK.201105.2313.0099.TFM,2020-11-06T23:32:55,09L,2020-11-06
3990,AAL130.ATL.CLT.201105.2313.0088.TFM,2020-11-06T23:33:47,09L,2020-11-06
3991,DAL2037.ATL.RIC.201105.2318.0040.TFM,2020-11-06T23:35:31,09L,2020-11-06
3992,DAL1524.ATL.MSY.201105.2318.0052.TFM,2020-11-06T23:36:12,09L,2020-11-06
3993,DAL1489.ATL.RSW.201105.2323.0081.TFM,2020-11-06T23:37:52,09L,2020-11-06
3994,DAL1324.ATL.PHL.201105.2323.0082.TFM,2020-11-06T23:38:43,09L,2020-11-06
3995,UAL410.ATL.EWR.201105.2323.0168.TFM,2020-11-06T23:40:11,09L,2020-11-06
3996,DAL372.ATL.LGA.201105.2318.0038.TFM,2020-11-06T23:41:32,09L,2020-11-06
3997,DAL814.ATL.LAS.201105.2238.0074.TFM,2020-11-06T23:42:18,08R,2020-11-06
3998,DAL1402.ATL.MIA.201105.2328.0036.TFM,2020-11-06T23:43:08,09L,2020-11-06
3999,DAL1331.ATL.BUF.201105.2333.0056.TFM,2020-11-06T23:44:20,08R,2020-11-06
4000,DAL82.ATL.CDG.201105.2238.0149.TFM,2020-11-06T23:49:04,09L,2020-11-06
4001,EDV5009.ATL.LEX.201105.2333.0051.TFM,2020-11-06T23:55:58,08R,2020-11-06
4002,DAL1616.ATL.RDU.201105.2348.0053.TFM,2020-11-06T23:57:35,09L,2020-11-06

8R, 9L 구성

In [ ]:
# a = data['timestamp'].str.split('T')
# data['date'] = a.str.get(0)
# frame = data.groupby(["date"], sort=False)
# frame

In [ ]:
# 도착시 사용 런웨이
arrival = pd.read_csv('/content/katl/katl_arrival_runway.csv.bz2')
arrival

,gufi,timestamp,arrival_runway
0,DAL1379.MDW.ATL.201030.2228.0051.TFM,2020-11-01T00:03:03,08L
1,SWA1644.MDW.ATL.201030.2228.0028.TFM,2020-11-01T00:04:37,08L
2,DAL1945.SJD.ATL.201030.2038.0051.TFM,2020-11-01T00:05:23,09R
3,DAL1265.DAL.ATL.201030.2228.0060.TFM,2020-11-01T00:07:47,09R
4,DAL1004.DEN.ATL.201030.2154.0005.TFM,2020-11-01T00:11:28,08L
...,...,...,...
332436,NKS1362.LAS.ATL.211030.2001.0029.TFM,2021-10-31T23:54:18,26R
332437,JBU1719.JFK.ATL.211030.2155.0047.TFM,2021-10-31T23:55:59,26R
332438,DAL2600.RDU.ATL.211030.2240.0066.TFM,2021-10-31T23:57:15,26R
332439,DAL1785.UVF.ATL.211030.1955.0131.TFM,2021-10-31T23:59:11,27L
332440,DAL426.MSP.ATL.211030.2145.0061.TFM,2021-10-31T23:59:38,26R

In [ ]:
# '2020-11-06' 23시~24시의 도착시 사용 런웨이
a = arrival['timestamp'].str.split('T')
arrival['date'] = a.str.get(0)
arrival = arrival.loc[(arrival['date'] == '2020-11-06')]
arrival.tail(50)

,gufi,timestamp,arrival_runway,date
3938,EDV5124.DAY.ATL.201105.2143.0075.TFM,2020-11-06T23:13:22,08L,2020-11-06
3939,EDV5101.GNV.ATL.201105.2208.0066.TFM,2020-11-06T23:13:38,09R,2020-11-06
3940,EDV4839.TRI.ATL.201105.2213.0073.TFM,2020-11-06T23:14:36,08L,2020-11-06
3941,RPA5591.HHH.ATL.201105.2213.0028.TFM,2020-11-06T23:15:04,09R,2020-11-06
3942,DAL1778.RIC.ATL.201105.2143.0082.TFM,2020-11-06T23:15:33,08L,2020-11-06
3943,DAL1978.SAL.ATL.201105.1958.0083.TFM,2020-11-06T23:16:07,09R,2020-11-06
3944,DAL1072.MSP.ATL.201105.2103.0067.TFM,2020-11-06T23:16:54,08L,2020-11-06
3945,VIR103M.LHR.ATL.201105.1453.0136.TFM,2020-11-06T23:17:38,09R,2020-11-06
3946,EDV5052.TYS.ATL.201105.2223.0103.TFM,2020-11-06T23:18:18,08L,2020-11-06
3947,SWA1568.TPA.ATL.201105.2128.0101.TFM,2020-11-06T23:19:27,08L,2020-11-06
3948,EDV4666.OAJ.ATL.201105.2153.0183.TFM,2020-11-06T23:20:47,09R,2020-11-06
3949,DAL1769.GSP.ATL.201105.2043.0029.TFM,2020-11-06T23:20:58,08L,2020-11-06
3950,EDV5332.CAE.ATL.201105.2218.0059.TFM,2020-11-06T23:21:58,09R,2020-11-06
3951,EDV4922.LEX.ATL.201105.2158.0025.TFM,2020-11-06T23:22:19,08L,2020-11-06
3952,DAL969.ELP.ATL.201105.2023.0123.TFM,2020-11-06T23:23:03,09R,2020-11-06
3953,DAL723.DEN.ATL.201105.2038.0068.TFM,2020-11-06T23:23:30,08L,2020-11-06
3954,DAL1713.SAV.ATL.201105.2218.0070.TFM,2020-11-06T23:24:39,09R,2020-11-06
3955,DAL2042.GSP.ATL.201105.2233.0075.TFM,2020-11-06T23:25:09,08L,2020-11-06
3956,DAL1840.KIN.ATL.201105.2033.0056.TFM,2020-11-06T23:26:13,08L,2020-11-06
3957,DAL1442.EYW.ATL.201105.2138.0100.TFM,2020-11-06T23:26:16,09R,2020-11-06
3958,DAL1658.CHS.ATL.201105.2218.0069.TFM,2020-11-06T23:27:34,09R,2020-11-06
3959,DAL2093.CLT.ATL.201105.2228.0066.TFM,2020-11-06T23:28:05,08L,2020-11-06
3960,EDV4672.MOB.ATL.201105.2223.0147.TFM,2020-11-06T23:29:06,09R,2020-11-06
3961,DAL367.LAX.ATL.201105.1913.0053.TFM,2020-11-06T23:29:35,08L,2020-11-06
3962,DAL1900.PUJ.ATL.201105.1953.0175.TFM,2020-11-06T23:30:28,09R,2020-11-06
3963,DAL1950.STT.ATL.201105.1938.0137.TFM,2020-11-06T23:32:05,09R,2020-11-06
3964,DAL1542.CVG.ATL.201105.2218.0063.TFM,2020-11-06T23:32:27,08L,2020-11-06
3965,DAL634.SJU.ATL.201105.1938.0106.TFM,2020-11-06T23:33:10,09R,2020-11-06
3966,DAL1354.MKE.ATL.201105.2153.0091.TFM,2020-11-06T23:34:32,08L,2020-11-06
3967,EDV4738.CSG.ATL.201105.2253.0251.TFM,2020-11-06T23:35:04,09R,2020-11-06
3968,DAL1420.BWI.ATL.201105.2208.0059.TFM,2020-11-06T23:36:00,08L,2020-11-06
3969,SWA608.AUS.ATL.201105.2103.0082.TFM,2020-11-06T23:36:30,09R,2020-11-06
3970,DAL1639.JAN.ATL.201105.2228.0089.TFM,2020-11-06T23:38:08,09R,2020-11-06
3971,DAL1500.TPA.ATL.201105.2158.0015.TFM,2020-11-06T23:39:48,09R,2020-11-06
3972,DAL1830.GUA.ATL.201105.2033.0072.TFM,2020-11-06T23:41:18,09R,2020-11-06
3973,EDV5123.DSM.ATL.201105.2153.0179.TFM,2020-11-06T23:42:59,08L,2020-11-06
3974,EDV4791.DHN.ATL.201105.2258.0040.TFM,2020-11-06T23:43:22,09R,2020-11-06
3975,DAL1488.PIT.ATL.201105.2223.0140.TFM,2020-11-06T23:44:26,08L,2020-11-06
3976,EDV4998.FAY.ATL.201105.2233.0046.TFM,2020-11-06T23:45:05,09R,2020-11-06
3977,NKS635.ORD.ATL.201105.2208.0057.TFM,2020-11-06T23:46:33,08L,2020-11-06
3978,DAL1148.DTW.ATL.201105.2208.0061.TFM,2020-11-06T23:49:01,08L,2020-11-06
3979,EDV5061.MYR.ATL.201105.2253.0238.TFM,2020-11-06T23:50:10,09R,2020-11-06
3980,EDV4721.CHO.ATL.201105.2233.0076.TFM,2020-11-06T23:51:15,08L,2020-11-06
3981,EDV4974.VLD.ATL.201105.2238.0140.TFM,2020-11-06T23:52:20,09R,2020-11-06
3982,DAL464.DCA.ATL.201105.2223.0169.TFM,2020-11-06T23:52:46,08L,2020-11-06
3983,EDV4990.ILM.ATL.201105.2233.0049.TFM,2020-11-06T23:53:58,09R,2020-11-06
3984,DAL1930.SJD.ATL.201105.2023.0122.TFM,2020-11-06T23:56:29,09R,2020-11-06
3985,SKW5519.DEN.ATL.201105.2053.0086.TFM,2020-11-06T23:56:57,08L,2020-11-06
3986,DAL1479.RSW.ATL.201105.2243.0073.TFM,2020-11-06T23:58:11,09R,2020-11-06
3987,EDV4793.MGM.ATL.201105.2313.0095.TFM,2020-11-06T23:59:58,09R,2020-11-06

8L, 9R 구성

In [ ]:
# data.loc[data['date'] == '2020-11-07']

In [ ]:
airport_config = pd.read_csv('/content/katl/katl_airport_config.csv.bz2')
airport_config

                 timestamp          airport_config
0      2020-11-01T01:11:00      D_8R_9L_A_10_8L_9R
1      2020-11-01T01:57:00      D_8R_9L_A_10_8L_9R
2      2020-11-01T02:53:00      D_8R_9L_A_10_8L_9R
3      2020-11-01T03:54:00      D_8R_9L_A_10_8L_9R
4      2020-11-01T04:52:00      D_8R_9L_A_10_8L_9R
...                    ...                     ...
12426  2021-10-31T20:56:00  D_26L_27R_A_26R_27L_28
12427  2021-10-31T21:53:00  D_26L_27R_A_26R_27L_28
12428  2021-10-31T22:04:00  D_26L_27R_A_26R_27L_28
12429  2021-10-31T22:54:00  D_26L_27R_A_26R_27L_28
12430  2021-10-31T23:53:00  D_26L_27R_A_26R_27L_28

[12431 rows x 2 columns]

In [ ]:
a = airport_config['timestamp'].str.split('T')
airport_config['date'] = a.str.get(0)
airport_config = airport_config.loc[(airport_config['date'] == '2020-11-06')]
airport_config.tail(10)

               timestamp      airport_config        date
195  2020-11-06T15:53:00  D_8R_9L_A_10_8L_9R  2020-11-06
196  2020-11-06T16:52:00  D_8R_9L_A_10_8L_9R  2020-11-06
197  2020-11-06T17:03:00  D_8R_9L_A_10_8L_9R  2020-11-06
198  2020-11-06T17:53:00  D_8R_9L_A_10_8L_9R  2020-11-06
199  2020-11-06T18:53:00  D_8R_9L_A_10_8L_9R  2020-11-06
200  2020-11-06T19:53:00  D_8R_9L_A_10_8L_9R  2020-11-06
201  2020-11-06T20:54:00  D_8R_9L_A_10_8L_9R  2020-11-06
202  2020-11-06T21:54:00  D_8R_9L_A_10_8L_9R  2020-11-06
203  2020-11-06T22:54:00  D_8R_9L_A_10_8L_9R  2020-11-06
204  2020-11-06T23:52:00  D_8R_9L_A_10_8L_9R  2020-11-06

## import

In [ ]:
from pathlib import Path
from typing import Sequence, Tuple
from datetime import datetime
# import datetime
from datetime import timedelta
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
# mpl.rcParams["figure.dpi"] = 100
# sns.set_style("white")
# pd.options.display.width = 200

## 공항이름 가져오기

In [ ]:
Data_Path = Path("/content")

In [ ]:
# airport directory
airport_directories = sorted(path for path in Data_Path.glob("k*"))
airport_directories.sort

![image.png]()

In [ ]:
airport_directory = airport_directories[0]
data_files = list(airport_directory.glob("*"))
data_files

[PosixPath('/content/katl/katl_mfs_stand_arrival_time.csv.bz2'),
 PosixPath('/content/katl/katl_mfs_stand_departure_time.csv.bz2'),
 PosixPath('/content/katl/katl_etd.csv.bz2'),
 PosixPath('/content/katl/katl_tfm_estimated_runway_arrival_time.csv.bz2'),
 PosixPath('/content/katl/katl_lamp.csv.bz2'),
 PosixPath('/content/katl/katl_mfs_runway_departure_time.csv.bz2'),
 PosixPath('/content/katl/katl_airport_config.csv.bz2'),
 PosixPath('/content/katl/katl_departure_runway.csv.bz2'),
 PosixPath('/content/katl/katl_arrival_runway.csv.bz2'),
 PosixPath('/content/katl/katl_tbfm_scheduled_runway_arrival_time.csv.bz2'),
 PosixPath('/content/katl/katl_mfs_runway_arrival_time.csv.bz2'),
 PosixPath('/content/katl/katl_first_position.csv.bz2')]

In [ ]:
# _departure_runway.csv 파일 경로 추출
airport_code = airport_directory.name
filename = f"{airport_code}_departure_runway.csv.bz2"
filepath = airport_directory / filename
filepath

PosixPath('/content/katl/katl_departure_runway.csv.bz2')

In [ ]:
# departure_runway.csv 확인
departure_runway = pd.read_csv(filepath, parse_dates=["timestamp"])
print(departure_runway.shape)
departure_runway.head()

(330932, 3)

                                   gufi           timestamp departure_runway
0  DAL1691.ATL.PNS.201030.2349.0025.TFM 2020-11-01 00:01:25              09L
1  DAL2052.ATL.ECP.201030.2344.0020.TFM 2020-11-01 00:03:09              09L
2   DAL965.ATL.DEN.201030.2353.0049.TFM 2020-11-01 00:03:28              08R
3  DAL1134.ATL.DTW.201030.2349.0010.TFM 2020-11-01 00:04:28              08R
4  DAL1208.ATL.SAT.201031.0004.0001.TFM 2020-11-01 00:06:04              08R

In [ ]:
# departure_runway.loc[departure_runway['departure_runway'] == "0%", "departure_runway"] = departure_runway['departure_runway'].lstrip("0")
departure_runway['departure_runway'].str.lstrip("0")
departure_runway

,gufi,timestamp,departure_runway
0,DAL1691.ATL.PNS.201030.2349.0025.TFM,2020-11-01 00:01:25,09L
1,DAL2052.ATL.ECP.201030.2344.0020.TFM,2020-11-01 00:03:09,09L
2,DAL965.ATL.DEN.201030.2353.0049.TFM,2020-11-01 00:03:28,08R
3,DAL1134.ATL.DTW.201030.2349.0010.TFM,2020-11-01 00:04:28,08R
4,DAL1208.ATL.SAT.201031.0004.0001.TFM,2020-11-01 00:06:04,08R
...,...,...,...
330927,DAL1383.ATL.BHM.211030.2345.0087.TFM,2021-10-31 23:55:24,26L
330928,DAL1259.ATL.ECP.211030.2340.0061.TFM,2021-10-31 23:55:50,27R
330929,DAL854.ATL.LAS.211030.2340.0078.TFM,2021-10-31 23:56:40,26L
330930,DAL884.ATL.ELP.211030.2345.0077.TFM,2021-10-31 23:58:29,26L
330931,SWA2071.ATL.MSY.211030.2335.0109.TFM,2021-10-31 23:59:37,26L

In [ ]:
# _lamp.csv 파일 경로 추출
airport_code = airport_directory.name
filename = f"{airport_code}_lamp.csv.bz2"
filepath = airport_directory / filename
filepath

PosixPath('/content/katl/katl_lamp.csv.bz2')

In [ ]:
# lamp.csv 확인
lamp = pd.read_csv(filepath, parse_dates=["timestamp", "forecast_timestamp"])
lamp

,timestamp,forecast_timestamp,temperature,wind_direction,wind_speed,wind_gust,cloud_ceiling,visibility,cloud,lightning_prob,precip
0,2020-11-01 00:30:00,2020-11-01 06:00:00,55.0,9.0,9.0,0.0,4.0,7.0,OV,N,False
1,2020-11-01 00:30:00,2020-11-02 01:00:00,54.0,32.0,20.0,28.0,8.0,7.0,CL,N,False
2,2020-11-01 00:30:00,2020-11-02 00:00:00,56.0,32.0,21.0,29.0,8.0,7.0,CL,N,False
3,2020-11-01 00:30:00,2020-11-01 23:00:00,60.0,32.0,19.0,27.0,8.0,7.0,FW,N,False
4,2020-11-01 00:30:00,2020-11-01 22:00:00,64.0,32.0,19.0,26.0,8.0,7.0,FW,N,False
...,...,...,...,...,...,...,...,...,...,...,...
234745,2021-10-31 23:30:00,2021-11-01 04:00:00,51.0,32.0,6.0,0.0,8.0,7.0,CL,N,False
234746,2021-10-31 23:30:00,2021-11-01 00:00:00,56.0,32.0,6.0,0.0,8.0,7.0,FW,N,False
234747,2021-10-31 23:30:00,2021-11-01 01:00:00,54.0,32.0,5.0,0.0,8.0,7.0,CL,N,False
234748,2021-10-31 23:30:00,2021-11-01 16:00:00,61.0,6.0,6.0,0.0,8.0,7.0,FW,N,False
234749,2021-10-31 23:30:00,2021-11-01 13:00:00,50.0,2.0,6.0,0.0,8.0,7.0,FW,N,False

In [ ]:
# lamp.csv 축소
lamp = lamp[["forecast_timestamp", "wind_direction", "wind_gust", "cloud_ceiling", "visibility", "lightning_prob", "precip"]]
lamp.head()

,forecast_timestamp,wind_direction,wind_gust,cloud_ceiling,visibility,lightning_prob,precip
0,2020-11-01 06:00:00,9.0,0.0,4.0,7.0,N,False
1,2020-11-02 01:00:00,32.0,28.0,8.0,7.0,N,False
2,2020-11-02 00:00:00,32.0,29.0,8.0,7.0,N,False
3,2020-11-01 23:00:00,32.0,27.0,8.0,7.0,N,False
4,2020-11-01 22:00:00,32.0,26.0,8.0,7.0,N,False

## csv파일 concat

### departure_runway
### arrival_runway

In [ ]:
# departure_runway.csv 파일 concat 함수
def concat_file():
  global departure_runway_all
  for i in range(len(airport_directories)):
    airport_code = airport_directories[i].name
    filename = f"{airport_code}_departure_runway.csv.bz2"
    filepath = airport_directories[i] / filename
    departure_runway = pd.read_csv(filepath)
    departure_runway["airport"] = airport_code
    departure_runway['departure_runway'] = departure_runway['departure_runway'].str.lstrip("0")

    if i != 0:
      departure_runway_all = pd.concat([departure_runway_all, departure_runway])
    else:
      departure_runway_all = departure_runway

  return departure_runway_all

departure_runway_all = concat_file()
departure_runway_all

,gufi,timestamp,departure_runway,airport
0,DAL1691.ATL.PNS.201030.2349.0025.TFM,2020-11-01T00:01:25,9L,katl
1,DAL2052.ATL.ECP.201030.2344.0020.TFM,2020-11-01T00:03:09,9L,katl
2,DAL965.ATL.DEN.201030.2353.0049.TFM,2020-11-01T00:03:28,8R,katl
3,DAL1134.ATL.DTW.201030.2349.0010.TFM,2020-11-01T00:04:28,8R,katl
4,DAL1208.ATL.SAT.201031.0004.0001.TFM,2020-11-01T00:06:04,8R,katl
...,...,...,...,...
175910,JZA94.SEA.YVR.211030.2245.0049.TFM,2021-10-31T23:48:17,34R,ksea
175911,ASA781.SEA.PDX.211030.2335.0085.TFM,2021-10-31T23:50:14,34R,ksea
175912,ASA847.SEA.SMF.211030.2300.0103.TFM,2021-10-31T23:51:12,34R,ksea
175913,QXE2230.SEA.MFR.211030.2345.0050.TFM,2021-10-31T23:51:45,34R,ksea
175914,QXE2571.SEA.MSO.211030.2345.0037.TFM,2021-10-31T23:52:41,34R,ksea

In [ ]:
# _arrival_runway.csv 파일 경로 추출
airport_code = airport_directory.name
filename = f"{airport_code}_arrival_runway.csv.bz2"
filepath = airport_directory / filename
filepath

PosixPath('/content/katl/katl_arrival_runway.csv.bz2')

In [ ]:
# arrival_runway.csv 확인
arrival_runway = pd.read_csv(filepath, parse_dates=["timestamp"])
print(arrival_runway.shape)
arrival_runway.head()

(332441, 3)

                                   gufi           timestamp arrival_runway
0  DAL1379.MDW.ATL.201030.2228.0051.TFM 2020-11-01 00:03:03            08L
1  SWA1644.MDW.ATL.201030.2228.0028.TFM 2020-11-01 00:04:37            08L
2  DAL1945.SJD.ATL.201030.2038.0051.TFM 2020-11-01 00:05:23            09R
3  DAL1265.DAL.ATL.201030.2228.0060.TFM 2020-11-01 00:07:47            09R
4  DAL1004.DEN.ATL.201030.2154.0005.TFM 2020-11-01 00:11:28            08L

In [ ]:
# arrival_runway.csv 파일 concat 함수
def concat_file():
  global arrival_runway_all
  for i in range(len(airport_directories)):
    airport_code = airport_directories[i].name
    filename = f"{airport_code}_arrival_runway.csv.bz2"
    filepath = airport_directories[i] / filename
    arrival_runway = pd.read_csv(filepath)
    arrival_runway["airport"] = airport_code
    arrival_runway['arrival_runway'] = arrival_runway['arrival_runway'].str.lstrip("0")

    if i != 0:
      arrival_runway_all = pd.concat([arrival_runway_all, arrival_runway])
    else:
      arrival_runway_all = arrival_runway

  return arrival_runway_all

arrival_runway_all = concat_file()
arrival_runway_all

,gufi,timestamp,arrival_runway,airport
0,DAL1379.MDW.ATL.201030.2228.0051.TFM,2020-11-01T00:03:03,8L,katl
1,SWA1644.MDW.ATL.201030.2228.0028.TFM,2020-11-01T00:04:37,8L,katl
2,DAL1945.SJD.ATL.201030.2038.0051.TFM,2020-11-01T00:05:23,9R,katl
3,DAL1265.DAL.ATL.201030.2228.0060.TFM,2020-11-01T00:07:47,9R,katl
4,DAL1004.DEN.ATL.201030.2154.0005.TFM,2020-11-01T00:11:28,8L,katl
...,...,...,...,...
176638,SWA922.SMF.SEA.211030.2125.0103.TFM,2021-10-31T23:44:08,34L,ksea
176639,QXE2233.PSC.SEA.211030.2300.0052.TFM,2021-10-31T23:45:18,34L,ksea
176640,ATN3531.CVG.SEA.211031.1525.0006.TFM,2021-10-31T23:45:57,34R,ksea
176641,QXE2289.FCA.SEA.211030.2220.0100.TFM,2021-10-31T23:46:34,34L,ksea
176642,FDX568.MEM.SEA.211030.2021.0036.TFM,2021-10-31T23:48:47,34L,ksea

In [ ]:
# a = arrival_runway['timestamp'].astype(str).str.split()
# arrival_runway['date'] = a.str.get(0)
# arrival_runway = arrival_runway.loc[(arrival_runway['date'] == '2020-11-06')]
# arrival_runway.loc[arrival_runway['arrival_runway'] == '10']

시간 별 사용중인 활주로

예) 'D_8R_9L_A_10_8L_9R' 

출발용 활주로: 8R, 9L

도착용 활주로: 10, 8L

In [ ]:
# lamp.csv 파일 concat 함수
def concat_file():
  for i in range(len(airport_directories)):
    airport_code = airport_directories[i].name
    filename = f"{airport_code}_lamp.csv.bz2"
    filepath = airport_directories[i] / filename
    lamp = pd.read_csv(filepath, parse_dates=["timestamp", "forecast_timestamp"])
    lamp = lamp[["forecast_timestamp", "wind_direction", "wind_gust", "cloud_ceiling", "visibility", "lightning_prob", "precip"]]
    lamp["airport"] = airport_code

    if i != 0:
      lamp_all = pd.concat([lamp_all, lamp])
    else:
      lamp_all = lamp

  return lamp_all

lamp_all = concat_file()
lamp_all

,forecast_timestamp,wind_direction,wind_gust,cloud_ceiling,visibility,lightning_prob,precip,airport
0,2020-11-01 06:00:00,9.0,0.0,4.0,7.0,N,False,katl
1,2020-11-02 01:00:00,32.0,28.0,8.0,7.0,N,False,katl
2,2020-11-02 00:00:00,32.0,29.0,8.0,7.0,N,False,katl
3,2020-11-01 23:00:00,32.0,27.0,8.0,7.0,N,False,katl
4,2020-11-01 22:00:00,32.0,26.0,8.0,7.0,N,False,katl
...,...,...,...,...,...,...,...,...
233220,2021-11-01 03:00:00,4.0,0.0,8.0,7.0,N,False,ksea
233221,2021-11-01 02:00:00,1.0,0.0,8.0,7.0,N,False,ksea
233222,2021-11-01 01:00:00,35.0,0.0,8.0,7.0,N,False,ksea
233223,2021-11-01 13:00:00,6.0,0.0,8.0,7.0,N,False,ksea
233224,2021-11-01 07:00:00,6.0,0.0,8.0,7.0,N,False,ksea

In [ ]:
# # departure_runway.csv 확인 함수
# def read_departure_runways(airport_directory: Path) -> Tuple[str, pd.DataFrame]:
#   airport_code = airport_directory.name
#   filename = f"{airport_code}_departure_runway.csv.bz2"
#   filepath = airport_directory / filename
#   departure_runway_df = pd.read_csv(filepath, parse_dates=["timestamp"])
#   return airport_code, departure_runway_df

In [ ]:
# # 모든 airport_directory의 departure_runway.csv 확인

# departure_runway_df_map = {}

# for airport_directory in sorted(airport_directories):
#   airport_code, departure_runway_df = read_departure_runways(airport_directory)
#   print(airport_code)
#   departure_runway_df_map[airport_code] = departure_runway_df

In [ ]:
# # airport 별 길이
# for airport_code, df in departure_runway_df_map.items():
#   print(f"{airport_code}: {len(df):>8,}")

In [ ]:
# # arrival_runway.csv 확인 함수
# def read_arrival_runways(airport_directory: Path) -> Tuple[str, pd.DataFrame]:
#   airport_code = airport_directory.name
#   filename = f"{airport_code}_arrival_runway.csv.bz2"
#   filepath = airport_directory / filename
#   arrival_runway_df = pd.read_csv(filepath, parse_dates=["timestamp"])
#   return airport_code, arrival_runway_df

In [ ]:
# # 모든 airport_directory의 arrival_runway.csv 확인

# arrival_runway_df_map = {}

# for airport_directory in sorted(airport_directories):
#   airport_code, arrival_runway_df = read_arrival_runways(airport_directory)
#   print(airport_code)
#   arrival_runway_df_map[airport_code] = arrival_runway_df

In [ ]:
# # airport 별 길이
# for airport_code, df in arrival_runway_df_map.items():
#   print(f"{airport_code}: {len(df):>8,}")

## Training Label 읽어오기

In [ ]:
open_train_labels= pd.read_csv("/content/drive/MyDrive/dataset/open_train_labels.csv.bz2", parse_dates = ["timestamp"])

open_train_labels.shape

(22640544, 5)

In [ ]:
open_train_labels.head()

,airport,timestamp,lookahead,config,active
0,katl,2020-11-06 23:00:00,30,katl:D_10_8L_A_10_8L,0.0
1,katl,2020-11-06 23:00:00,30,katl:D_10_8R_9L_A_10_8L_9R,0.0
2,katl,2020-11-06 23:00:00,30,katl:D_10_8R_A_10_8R,0.0
3,katl,2020-11-06 23:00:00,30,katl:D_26L_27L_A_26R_27L_28,0.0
4,katl,2020-11-06 23:00:00,30,katl:D_26L_27R_28_A_26R_27L_28,0.0

airport: 공항코드

timestamp: Timestamp예측 시작 시간

lookahead: 예측하려는 미래 시간

config: 가능한 구성 종류

active: 특정 구성이 미래에 실제로 활성화되었는지 여부 예측
(하나의 구성만 활성 1)

In [ ]:
train_labels = open_train_labels.loc[open_train_labels["active"]==1].reset_index(drop=True)
train_labels

       airport           timestamp  lookahead                   config  active
0         katl 2020-11-06 23:00:00         30  katl:D_8R_9L_A_10_8L_9R     1.0
1         katl 2020-11-06 23:00:00         60  katl:D_8R_9L_A_10_8L_9R     1.0
2         katl 2020-11-06 23:00:00         90  katl:D_8R_9L_A_10_8L_9R     1.0
3         katl 2020-11-06 23:00:00        120  katl:D_8R_9L_A_10_8L_9R     1.0
4         katl 2020-11-06 23:00:00        150  katl:D_8R_9L_A_10_8L_9R     1.0
...        ...                 ...        ...                      ...     ...
891355    ksea 2021-10-17 10:00:00        240     ksea:D_16L_A_16L_16R     1.0
891356    ksea 2021-10-17 10:00:00        270     ksea:D_16L_A_16L_16R     1.0
891357    ksea 2021-10-17 10:00:00        300     ksea:D_16L_A_16L_16R     1.0
891358    ksea 2021-10-17 10:00:00        330     ksea:D_16L_A_16L_16R     1.0
891359    ksea 2021-10-17 10:00:00        360     ksea:D_16L_A_16L_16R     1.0

[891360 rows x 5 columns]

## Sample Frame 가져오기

In [ ]:
# open_train_labels에서 groupby로 1그룹만 샘플프레임 만들어줌

sample_frame_groups = open_train_labels.groupby(["airport", "timestamp", "lookahead"], sort=False)

In [ ]:
# for name, pred_frame in sample_frame_groups:
#   print(name)
#   break

In [ ]:
cnt = 0

for name, pred_frame in sample_frame_groups:
  cnt += 1
  if cnt == 2000:
    print(name)
    break

('katl', Timestamp('2020-11-13 21:00:00'), 240)

In [ ]:
pred_frame

,airport,timestamp,lookahead,config,active
53973,katl,2020-11-13 21:00:00,240,katl:D_10_8L_A_10_8L,0.0
53974,katl,2020-11-13 21:00:00,240,katl:D_10_8R_9L_A_10_8L_9R,0.0
53975,katl,2020-11-13 21:00:00,240,katl:D_10_8R_A_10_8R,0.0
53976,katl,2020-11-13 21:00:00,240,katl:D_26L_27L_A_26R_27L_28,0.0
53977,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_28_A_26R_27L_28,0.0
53978,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26L_27L_28,0.0
53979,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26L_27R,0.0
53980,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26L_27R_28,0.0
53981,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26R_27L,0.0
53982,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26R_27L_28,1.0
53983,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26R_27R_28,0.0
53984,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_26R_28,0.0
53985,katl,2020-11-13 21:00:00,240,katl:D_26L_27R_A_27L_28,0.0
53986,katl,2020-11-13 21:00:00,240,katl:D_26L_28_A_26L_28,0.0
53987,katl,2020-11-13 21:00:00,240,katl:D_26L_28_A_26R_27L_28,0.0
53988,katl,2020-11-13 21:00:00,240,katl:D_26L_28_A_26R_28,0.0
53989,katl,2020-11-13 21:00:00,240,katl:D_26R_27R_A_26R_27L_28,0.0
53990,katl,2020-11-13 21:00:00,240,katl:D_26R_28_A_26R_28,0.0
53991,katl,2020-11-13 21:00:00,240,katl:D_8L_9L_A_10_8L_9R,0.0
53992,katl,2020-11-13 21:00:00,240,katl:D_8R_9L_A_10_8L_9R,0.0
53993,katl,2020-11-13 21:00:00,240,katl:D_8R_9L_A_10_8R_9R,0.0
53994,katl,2020-11-13 21:00:00,240,katl:D_8R_9L_A_10_9R,0.0
53995,katl,2020-11-13 21:00:00,240,katl:D_8R_9L_A_8L_9R,0.0
53996,katl,2020-11-13 21:00:00,240,katl:D_8R_9L_A_8R_9L,0.0
53997,katl,2020-11-13 21:00:00,240,katl:D_8R_9R_A_10_8L_9R,0.0
53998,katl,2020-11-13 21:00:00,240,katl:D_9L_A_9R,0.0
53999,katl,2020-11-13 21:00:00,240,katl:other,0.0

위 데이터 프레임이 한 세트

하나의 config만 active = 1 할당 

예) katl공항 2020-11-06 23:00:00의 30분 뒤의 ac
tive 할당하기

pred_frame.iloc[19]

In [ ]:
# 첫번째 행 미리보기
first = pred_frame.iloc[0]
airport_code = first["airport"]
timestamp = first["timestamp"]
lookahead = first["lookahead"]

print(f"Airport code: {airport_code}")
print(f"Timestamp: {timestamp}")
print(f"Lookaheade: {lookahead}")

Airport code: katl
Timestamp: 2020-11-13 21:00:00
Lookaheade: 240

In [ ]:
open_train_labels['timestamp'].unique()

array(['2020-11-06T23:00:00.000000000', '2020-11-07T00:00:00.000000000',
       '2020-11-07T01:00:00.000000000', ...,
       '2021-10-17T08:00:00.000000000', '2021-10-17T09:00:00.000000000',
       '2021-10-17T10:00:00.000000000'], dtype='datetime64[ns]')

# arrival_runway의 정보와 deaprture_runway의 정보를 활용한 룰기반 모델

예측하고자 하는 시간대의 활주로 정보를 수집하고 조합해 config 찾기

```
예시 1) 2020-11-06 23:00:00의 30분 뒤의 config 예측

departure_runway csv파일에서 (2020-11-06 19:00:00)4시간전 ~ (2020-11-06 23:30:00)30분 후 시간대에 활성화 된 활주로 정보를 가져옴

['08R', '09L']

arrival_runway csv파일에서 (2020-11-06 19:00:00)4시간전 ~ (2020-11-06 23:30:00)30분 후 시간대에 활성화 된 활주로 정보를 가져옴

['08L', '09R', '10']

-> config 조합 = D_8R_9L_A_8L_9R_10

-> 정답 = D_8R_9L_A_10_8L_9R	
```


```
예시 2) 2020-11-13 21:00:00의 240분 뒤의 config 예측

departure_runway csv파일에서 (2020-11-06 19:00:00)4시간전 ~ (2020-11-06 23:30:00)240분 후 시간대의 활주로 정보를 가져옴

['27R', '26L']

arrival_runway csv파일에서 (2020-11-06 19:00:00)4시간전 ~ (2020-11-06 23:30:00)240분 후 시간대의 활주로 정보를 가져옴

['26R', '27L', '28']

-> config 조합 = D_26L_27R_A_26R_27L_28

-> 정답 = D_26L_27R_A_26R_27L_28	
```

In [ ]:
departure_runway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330932 entries, 0 to 330931
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gufi              330932 non-null  object
 1   timestamp         330932 non-null  datetime64[ns]
 2   departure_runway  330932 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 7.6+ MB

In [ ]:
# (2020-11-06 23:00:00) ~ (2020-11-06 23:30:00)30분 후 시간대의 출발 활주로 정보
departure_unique = departure_runway.loc[(departure_runway['timestamp'] < datetime(2020,11,6,23,30,00)) & (departure_runway['timestamp'] >= datetime(2020,11,6,19,00,00))]
departure_unique = list(departure_unique["departure_runway"].unique())
departure_unique.sort()
departure_unique

['08R', '09L']

In [ ]:
# (2020-11-06 23:00:00) ~ (2020-11-06 23:30:00)30분 후 시간대의 도착 활주로 정보
arrival_unique = arrival_runway.loc[(arrival_runway['timestamp'] < datetime(2020,11,6,23,30,00)) & (arrival_runway['timestamp'] >= datetime(2020,11,6,19,00,00))]
arrival_unique = list(arrival_unique["arrival_runway"].unique())
arrival_unique.sort()
arrival_unique

['08L', '09R', '10']

In [ ]:
# (2020-11-13 21:00:00) ~ (2020-11-14 1:00:00)240분 후 시간대의 출발 활주로 정보
departure_unique = departure_runway.loc[(departure_runway['timestamp'] < datetime(2020,11,14,1,00,00)) & (departure_runway['timestamp'] >= datetime(2020,11,13,17,00,00))]
departure_unique = list(departure_unique["departure_runway"].unique())
departure_unique.sort()
departure_unique

['26L', '27R']

In [ ]:
# (2020-11-13 21:00:00) ~ (2020-11-14 1:00:00)240분 후 시간대의 도착 활주로 정보
arrival_unique = arrival_runway.loc[(arrival_runway['timestamp'] < datetime(2020,11,14,1,00,00)) & (arrival_runway['timestamp'] >= datetime(2020,11,13,17,00,00))]
arrival_unique = list(arrival_unique["arrival_runway"].unique())
arrival_unique.sort()
arrival_unique

['26R', '27L', '28']

In [ ]:
# label_timestamp = np.array(train_labels['timestamp'].astype(str))
# label_timestamp

In [ ]:
# label_timestamp 타입을 datetime으로 변환하는
# label_timestamps = []

# def timestamp_extraction(data):
#   for i in range(len(data)):
#     label_timestamps.append(datetime.strptime(data[i], '%Y-%m-%d %H:%M:%S'))

In [ ]:
# timestamp_extraction(label_timestamp)
# print(type(label_timestamps[0]))
# print(label_timestamps[0])

In [ ]:
# departure_runway_all의 timestamp 데이터타입 datetime으로 변경 

departure_runway_all["timestamp"] = departure_runway_all["timestamp"].str.replace("T", " ")
departure_runway_all["timestamp"] = pd.to_datetime(departure_runway_all["timestamp"], infer_datetime_format=True)

In [ ]:
departure_runway_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2187388 entries, 0 to 175914
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   gufi              object
 1   timestamp         datetime64[ns]
 2   departure_runway  object
 3   airport           object
dtypes: datetime64[ns](1), object(3)
memory usage: 83.4+ MB

In [ ]:
# arrival_runway_all의 timestamp 데이터타입 datetime으로 변경 

arrival_runway_all["timestamp"] = arrival_runway_all["timestamp"].str.replace("T", " ")
arrival_runway_all["timestamp"] = pd.to_datetime(arrival_runway_all["timestamp"], infer_datetime_format=True)

In [ ]:
# de_katl = departure_runway_all.loc[departure_runway_all["airport"] == airport_directories[0].name]
# de_katl["timestamp"] = pd.to_datetime(de_katl["timestamp"], infer_datetime_format=True)
# de_katl

In [ ]:
# ar_katl = arrival_runway_all.loc[arrival_runway_all["airport"] == airport_directories[0].name]
# ar_katl["timestamp"] = pd.to_datetime(ar_katl["timestamp"], infer_datetime_format=True)
# ar_katl

In [ ]:
# print(len(label_timestamps))
# print(len(train_labels))

In [ ]:
train_labels["lookahead"] = train_labels['lookahead'].astype(float)
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891360 entries, 0 to 891359
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   airport    891360 non-null  object
 1   timestamp  891360 non-null  datetime64[ns]
 2   lookahead  891360 non-null  float64
 3   config     891360 non-null  object
 4   active     891360 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 34.0+ MB

In [ ]:
# departure_runway_all.loc[(departure_runway_all["timestamp"] >= (label_timestamps[0] - timedelta(hours=4, ))) & (departure_runway_all["timestamp"] < (label_timestamps[0] + timedelta(minutes= train_labels["lookahead"][1], )))]

# duu = du['deaprture_runway'].unique()
# duu.sort
# duu

In [ ]:
train_labels['D'] = 0
train_labels['A'] = 0
train_labels

,airport,timestamp,lookahead,config,active,D,A
0,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,0,0
1,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,0,0
2,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,0,0
3,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,0,0
4,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,0,0
...,...,...,...,...,...,...,...
891355,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,0,0
891356,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,0,0
891357,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,0,0
891358,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,0,0
891359,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,0,0

In [ ]:
# train_katl = train_labels.loc[train_labels["airport"] == 'katl']
# train_katl

# 새로운 feature 추가 함수

In [ ]:
# def timestamps(data_1):
#   # for i in range(len(data_1)):
#   for i in range(len(de_katl)):
#     # if data_1['airport'] == train_labels['airport']:
#       a = train_labels["lookahead"][i]
#       data_1_unique = data_1.loc[(data_1["timestamp"] >= (label_timestamps[i] - timedelta(hours=4, ))) & (data_1["timestamp"] < (label_timestamps[i] + timedelta(minutes= a, )))]
#       data_1_unique = data_1_unique["departure_runway"].unique()
#       data_1_unique.sort()
#       data_1_str = "_".join(data_1_unique)
#       # train_labels.loc[(data_1['airport'] == train_labels['airport']) & (train_labels["timestamp"] == label_timestamps[i]) & (train_labels["lookahead"] == a), "D"] = data_1_str
#       train_katl.loc[(train_katl["timestamp"] == label_timestamps[i]) & (train_katl["lookahead"] == a), "D"] = data_1_str



#     # data_2_unique = data_2.loc[(data_2["timestamp"] >= label_timestamps[i] - timedelta(hours=4, )) & (data_2["timestamp"] < label_timestamps[i] + timedelta(minutes= train_labels["lookahead"][i] , ))]
#     # data_2_unique = list(data_2_unique["arrival_runway"].unique())
#     # data_2_unique.sort()
#     # train_labels["A"] = data_2_unique
    
#     # return train_labels

In [ ]:
# timestamps(de_katl)
# timestamps(departure_runway_all)

In [ ]:
# train_katl

In [ ]:
# def timestamps(data_1, data_2):
#   for i in range(len(train_katl)):
#     # if data_1['airport'] == train_labels['airport']:
#       a = train_labels["lookahead"][i]
#       data_1_unique = data_1.loc[(data_1["timestamp"] >= (label_timestamps[i] - timedelta(hours=4, ))) & (data_1["timestamp"] < (label_timestamps[i] + timedelta(minutes= a, )))]
#       data_1_unique = data_1_unique["departure_runway"].unique()
#       data_1_unique.sort()
#       data_1_str = "_".join(data_1_unique)
#       train_katl.loc[(train_katl["timestamp"] == label_timestamps[i]) & (train_katl["lookahead"] == a), "D"] = data_1_str

#   for i in range(len(train_katl)):
#       a = train_labels["lookahead"][i]
#       data_2_unique = data_2.loc[(data_2["timestamp"] >= (label_timestamps[i] - timedelta(hours=4, ))) & (data_2["timestamp"] < (label_timestamps[i] + timedelta(minutes= a, )))]
#       data_2_unique = data_2_unique["arrival_runway"].unique()
#       data_2_unique.sort()
#       data_2_str = "_".join(data_2_unique)
#       train_katl.loc[(train_katl["timestamp"] == label_timestamps[i]) & (train_katl["lookahead"] == a), "A"] = data_2_str

In [ ]:
# timestamps(de_katl, ar_katl)

In [ ]:
# train_katl

In [ ]:
# print(len(de_katl))
# print(len(ar_katl))
# print(len(train_katl))

In [ ]:
# 새로운 feature처리 함수

def lamp_timestamps(data_1, data_2):
  # 공항별 departure_runway, arrival_runway, train_label 쪼갠 후 처리
  for j in range(len(airport_directories)):
    de = data_1.loc[data_1["airport"] == airport_directories[j].name]
    de["timestamp"] = pd.to_datetime(de["timestamp"], infer_datetime_format=True)

    ar = data_2.loc[data_2["airport"] == airport_directories[j].name]
    ar["timestamp"] = pd.to_datetime(ar["timestamp"], infer_datetime_format=True)

    train = train_labels.loc[train_labels["airport"] == airport_directories[j].name].reset_index()

    for i in range(len(train)):
      # lookahead데이터 변수 설정
      a = train["lookahead"][i]

      # departure_runway 데이터 처리
      data_1_unique = de.loc[(de["timestamp"] >= (train["timestamp"][i] - timedelta(hours=4, ))) & (de["timestamp"] < (train["timestamp"][i] + timedelta(minutes= a, )))]
      data_1_unique = data_1_unique["departure_runway"].unique()
      data_1_unique.sort()
      data_1_str = "_".join(data_1_unique)
      train.loc[(train["timestamp"] == train["timestamp"][i]) & (train["lookahead"] == a), "D"] = data_1_str

      # arrival_runway 데이터 처리
      data_2_unique = ar.loc[(ar["timestamp"] >= (train["timestamp"][i] - timedelta(hours=4, ))) & (ar["timestamp"] < (train["timestamp"][i] + timedelta(minutes= a, )))]
      data_2_unique = data_2_unique["arrival_runway"].unique()
      data_2_unique.sort()
      data_2_str = "_".join(data_2_unique)
      train.loc[(train["timestamp"] == train["timestamp"][i]) & (train["lookahead"] == a), "A"] = data_2_str

    # 두번째 반복부터 concat (첫번째 반복에는 train_all이 없어 concat이 안됨)
    if j != 0:
      train_all = pd.concat([train_all, train])
    else:
      train_all = train
  
  return train_all

In [ ]:
# train_all = timestamps(departure_runway_all, arrival_runway_all)
# train_all

In [ ]:
# train_all 드라이브에 저장
# train_all.to_csv('/content/drive/MyDrive/dataset/train_all.csv', header=True, index = False)

In [ ]:
# # train_all.csv 읽어오기
train_all = pd.read_csv("/content/drive/MyDrive/dataset/train_all.csv")
train_all

,level_0,index,airport,timestamp,lookahead,config,active,D,A
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R

In [ ]:
a = train_all['timestamp'].str.split(' ')
a = a.str.get(1)
a = a.str.split(":")
train_all['time'] = a = a.str.get(0)
train_all

,level_0,index,airport,timestamp,lookahead,config,active,D,A,time
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,23
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,23
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,23
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,23
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,23
...,...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,10
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,10
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,10
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,10
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,10

In [ ]:
train_labels['lookahead'] = train_labels['lookahead'].astype(float)
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891360 entries, 0 to 891359
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   airport    891360 non-null  object
 1   timestamp  891360 non-null  datetime64[ns]
 2   lookahead  891360 non-null  float64
 3   config     891360 non-null  object
 4   active     891360 non-null  float64
 5   D          891360 non-null  int64
 6   A          891360 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 47.6+ MB

In [ ]:
# # train_labels["timestamp"] = pd.to_datetime(train_labels['timestamp'], infer_datetime_format=True)
# train_labels["lookahead"] = train_labels["lookahead"].astype(float)
# for i in range(len(train_labels)):
#     a = train_labels["lookahead"][i]
#     train_labels["timestamp"] = train_labels["timestamp"][i] + timedelta(minutes= a, )
# train_labels

In [ ]:
# la = lamp_all.loc[lamp_all["airport"] == airport_directories[0].name]
# la["forecast_timestamp"] = pd.to_datetime(la["forecast_timestamp"], infer_datetime_format=True)

# train = train_labels.loc[train_labels["airport"] == airport_directories[0].name].reset_index()

# lamp = la.loc[la["forecast_timestamp"] == train["timestamp"][0], ["wind_direction", "wind_gust", "cloud_ceiling", "lightning_prob", "precip"]]
# train = pd.concat([train[0], lamp], axis=1)
# train

In [ ]:
# 새로운 feature처리 함수

def timestamps(lamp_all):
  # 공항별 lamp, train_label 쪼갠 후 처리
  for j in range(len(airport_directories)):
    la = lamp_all.loc[lamp_all["airport"] == airport_directories[j].name]
    la["forecast_timestamp"] = pd.to_datetime(la["forecast_timestamp"], infer_datetime_format=True)

    train = train_labels.loc[train_labels["airport"] == airport_directories[j].name].reset_index()

    for i in range(len(train)):
      # lookahead데이터 변수 설정
      a = train["lookahead"][i]

      # lamp 데이터 처리
      lamp = la.loc[la["forecast_timestamp"] == train["timestamp"][i], ["wind_direction", "wind_gust", "cloud_ceiling", "lightning_prob", "precip"]]
      train = pd.concat([train[i], lamp], axis=1)
    #   train["wind_gust"] = la.loc[la["forecast_timestamp"] == train["timestamp"][i], "wind_gust"]
    #   train["cloud_ceiling"] = la.loc[la["forecast_timestamp"] == train["timestamp"][i], "cloud_ceiling"]
    #   train["visibility"] = la.loc[la["forecast_timestamp"] == train["timestamp"][i], "visibility"]
    #   train["lightning_prob"] = la.loc[la["forecast_timestamp"] == train["timestamp"][i], "lightning_prob"]
    #   train["precip"] = la.loc[la["forecast_timestamp"] == train["timestamp"][i], "precip"]

    # 두번째 반복부터 concat (첫번째 반복에는 train_all이 없어 concat이 안됨)
    if j != 0:
      train_lamp_all = pd.concat([train_lamp_all, train])
    else:
      train_lamp_all = train
  
  return train_lamp_all

In [ ]:
# 새로운 feature처리 함수 (unique 개수제한)

def timestamps_unique(data_1, data_2):
  # 공항별 departure_runway, arrival_runway, train_label 쪼갠 후 처리
  for j in range(len(airport_directories)):
    de = data_1.loc[data_1["airport"] == airport_directories[j].name]
    de["timestamp"] = pd.to_datetime(de["timestamp"], infer_datetime_format=True)

    ar = data_2.loc[data_2["airport"] == airport_directories[j].name]
    ar["timestamp"] = pd.to_datetime(ar["timestamp"], infer_datetime_format=True)

    train = train_labels.loc[train_labels["airport"] == airport_directories[j].name].reset_index()

    for i in range(len(train)):
      # lookahead데이터 변수 설정
      a = train["lookahead"][i]

      # departure_runway 데이터 처리
      data_1_unique = de.loc[(de["timestamp"] >= (train["timestamp"][i] - timedelta(hours=4, ))) & (de["timestamp"] < (train["timestamp"][i] + timedelta(minutes= a, )))]
      data_1_unique = data_1_unique["departure_runway"].unique()
      data_1_unique.sort()
      data_1_unique= data_1_unique[:3]
      data_1_str = "_".join(data_1_unique)
      train.loc[(train["timestamp"] == train["timestamp"][i]) & (train["lookahead"] == a), "D"] = data_1_str

      # arrival_runway 데이터 처리
      data_2_unique = ar.loc[(ar["timestamp"] >= (train["timestamp"][i] - timedelta(hours=4, ))) & (ar["timestamp"] < (train["timestamp"][i] + timedelta(minutes= a, )))]
      data_2_unique = data_2_unique["arrival_runway"].unique()
      data_2_unique.sort()
      data_2_unique = data_2_unique[:3]
      data_2_str = "_".join(data_2_unique)
      train.loc[(train["timestamp"] == train["timestamp"][i]) & (train["lookahead"] == a), "A"] = data_2_str

    # 두번째 반복부터 concat (첫번째 반복에는 train_all이 없어 concat이 안됨)
    if j != 0:
      train_all = pd.concat([train_all, train])
    else:
      train_all = train
  
  return train_all

In [ ]:
# train_model = timestamps_unique(departure_runway_all, arrival_runway_all)
# train_model

In [ ]:
# train_model 드라이브에 저장
# train_model.to_csv('/content/drive/MyDrive/dataset/train_model.csv', header=True, index = False)

In [ ]:
# train_model.csv 읽어오기
train_model = pd.read_csv("/content/drive/MyDrive/dataset/train_model.csv")
train_model

,level_0,index,airport,timestamp,lookahead,config,active,D,A
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R

In [ ]:
# # train_all.csv 읽어오기
train_all = pd.read_csv("/content/drive/MyDrive/dataset/train_all.csv")
train_all

,level_0,index,airport,timestamp,lookahead,config,active,D,A
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R
...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R

In [ ]:
a = train_all['timestamp'].str.split(' ')
train_all['timestamp_0'] = a.str.get(0)

a = train_all['timestamp_0'].str.split('-')
train_all['year'] = a.str.get(0)
train_all['mon'] = a.str.get(1)
train_all['day'] = a.str.get(2)

train_all

,level_0,index,airport,timestamp,lookahead,config,active,D,A,timestamp_0,year,mon,day
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,2021,10,17
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,2021,10,17

In [ ]:
a = train_all['timestamp'].str.split(' ')
a = a.str.get(1)
a = a.str.split(':')
train_all['time'] = a.str.get(0)

train_all

,level_0,index,airport,timestamp,lookahead,config,active,D,A,timestamp_0,year,mon,day,time
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06,23
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06,23
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06,23
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06,23
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,06,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17,10
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17,10
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17,10
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,2021,10,17,10
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,2021,10,17,10

In [ ]:
train_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891360 entries, 0 to 891359
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   level_0      891360 non-null  int64
 1   index        891360 non-null  int64
 2   airport      891360 non-null  object
 3   timestamp    891360 non-null  object
 4   lookahead    891360 non-null  float64
 5   config       891360 non-null  object
 6   active       891360 non-null  float64
 7   D            875471 non-null  object
 8   A            876059 non-null  object
 9   timestamp_0  891360 non-null  object
 10  year         891360 non-null  object
 11  mon          891360 non-null  object
 12  day          891360 non-null  object
 13  time         891360 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 95.2+ MB

In [ ]:
train_all['year'] = train_all['year'].astype(int)
train_all['mon'] = train_all['mon'].astype(int)
train_all['day'] = train_all['day'].astype(int)
train_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891360 entries, 0 to 891359
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   level_0      891360 non-null  int64
 1   index        891360 non-null  int64
 2   airport      891360 non-null  object
 3   timestamp    891360 non-null  object
 4   lookahead    891360 non-null  float64
 5   config       891360 non-null  object
 6   active       891360 non-null  float64
 7   D            875471 non-null  object
 8   A            876059 non-null  object
 9   timestamp_0  891360 non-null  object
 10  year         891360 non-null  int64
 11  mon          891360 non-null  int64
 12  day          891360 non-null  int64
 13  time         891360 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 95.2+ MB

In [ ]:
import datetime

datetime.datetime.today().weekday()

3

In [ ]:
train_all['weekday'] = 0
for i in range(len(train_all)):
    train_all['weekday'][i] = datetime.date(train_all['year'][i], train_all['mon'][i], train_all['day'][i]).weekday()

train_all

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,level_0,index,airport,timestamp,lookahead,config,active,D,A,timestamp_0,year,mon,day,time,weekday
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,6,23,4
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,6,23,4
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,6,23,4
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,6,23,4
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,2020,11,6,23,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17,10,6
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17,10,6
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,2021,10,17,10,6
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,2021,10,17,10,6
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,2021,10,17,10,6

In [ ]:
a = train_all['D'].str.split('_')
train_all['D_0'] = a.str.get(0)
train_all['D_1'] = a.str.get(1)
train_all['D_2'] = a.str.get(2)

a = train_all['A'].str.split('_')
train_all['A_0'] = a.str.get(0)
train_all['A_1'] = a.str.get(1)
train_all['A_2'] = a.str.get(2)

train_all

,level_0,index,airport,timestamp,lookahead,config,active,D,A,timestamp_0,...,mon,day,time,weekday,D_0,D_1,D_2,A_0,A_1,A_2
0,0,19,katl,2020-11-06 23:00:00,30.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,...,11,6,23,4,8R,9L,NaN,10,8L,9R
1,1,46,katl,2020-11-06 23:00:00,60.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,...,11,6,23,4,8R,9L,NaN,10,8L,9R
2,2,73,katl,2020-11-06 23:00:00,90.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,...,11,6,23,4,8R,9L,NaN,10,8L,9R
3,3,100,katl,2020-11-06 23:00:00,120.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,...,11,6,23,4,8R,9L,NaN,10,8L,9R
4,4,127,katl,2020-11-06 23:00:00,150.0,katl:D_8R_9L_A_10_8L_9R,1.0,8R_9L,10_8L_9R,2020-11-06,...,11,6,23,4,8R,9L,NaN,10,8L,9R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891355,891355,22640489,ksea,2021-10-17 10:00:00,240.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,...,10,17,10,6,16L,NaN,NaN,16L,16R,NaN
891356,891356,22640501,ksea,2021-10-17 10:00:00,270.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,...,10,17,10,6,16L,NaN,NaN,16L,16R,NaN
891357,891357,22640513,ksea,2021-10-17 10:00:00,300.0,ksea:D_16L_A_16L_16R,1.0,16L,16L_16R,2021-10-17,...,10,17,10,6,16L,NaN,NaN,16L,16R,NaN
891358,891358,22640525,ksea,2021-10-17 10:00:00,330.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,...,10,17,10,6,16C,16L,NaN,16L,16R,NaN
891359,891359,22640537,ksea,2021-10-17 10:00:00,360.0,ksea:D_16L_A_16L_16R,1.0,16C_16L,16L_16R,2021-10-17,...,10,17,10,6,16C,16L,NaN,16L,16R,NaN

In [ ]:
train_all['weekday'] = train_all['weekday'].astype(str)
train_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891360 entries, 0 to 891359
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   level_0      891360 non-null  int64
 1   index        891360 non-null  int64
 2   airport      891360 non-null  object
 3   timestamp    891360 non-null  object
 4   lookahead    891360 non-null  float64
 5   config       891360 non-null  object
 6   active       891360 non-null  float64
 7   D            875471 non-null  object
 8   A            876059 non-null  object
 9   timestamp_0  891360 non-null  object
 10  year         891360 non-null  int64
 11  mon          891360 non-null  int64
 12  day          891360 non-null  int64
 13  time         891360 non-null  object
 14  weekday      891360 non-null  object
 15  D_0          875471 non-null  object
 16  D_1          822507 non-null  object
 17  D_2          543830 non-null  object
 18  A_0          876059 non-null  object
 19  A_1          863909 non-null  object
 20  A_2          708138 non-null  object
dtypes: float64(2), int64(5), object(14)
memory usage: 142.8+ MB

In [ ]:
# # datetime 쪼개기
# t = train_all["timestamp"].str.split(' ')
# train_all["timestamp"] = t.str.get(0)
# train_all["time"] = t.str.get(1)

# t = train_all["timestamp"].str.split('-')
# train_all["year"] = t.str.get(0)
# train_all["mon"] = t.str.get(1)
# train_all["date"] = t.str.get(2)

# t = train_all["time"].str.split(':')
# train_all["time"] = t.str.get(0)

# train_all

In [ ]:
# # datetime 쪼개기
# t = train_model["timestamp"].str.split(' ')
# train_model["timestamp"] = t.str.get(0)
# train_model["time"] = t.str.get(1)

# t = train_model["timestamp"].str.split('-')
# train_model["year"] = t.str.get(0)
# train_model["mon"] = t.str.get(1)
# train_model["date"] = t.str.get(2)

# t = train_model["time"].str.split(':')
# train_model["time"] = t.str.get(0)

# train_model

In [ ]:
# con = train_all["config"].str.split(':')
# train_all["config"] = con.str.get(1)

# train_all

In [ ]:
# con = train_model["config"].str.split(':')
# train_model["config"] = con.str.get(1)

# train_model

In [ ]:
# # train_all.drop(columns = ['level_0', 'index', 'active', 'config'], inplace = True)
# train_all = train_all[['airport','config','lookahead','D','A','time','year','mon','date']]
# train_all

In [ ]:
# # train_model.drop(columns = ['level_0', 'index', 'active', 'config'], inplace = True)
# train_model = train_model[['airport','config','D','A','time','year','mon','date']]
# train_model

In [ ]:
# 각 공항별 config의 unique개수 (각 공항별 config 개수는 같지만, 구성은 다름)
unique_num = []
for i in range(len(airport_directories)):
  unique_num.append(len(train_all.loc[train_all['airport'] == airport_directories[i].name]['config'].unique()))

unique_num

[26, 13, 42, 31, 14, 31, 28, 38, 18, 12]

# submission 관련 csv파일 준비

In [ ]:
# open_submission_format 읽어오기
submission_format = pd.read_csv("/content/drive/MyDrive/dataset/open_submission_format.csv", parse_dates=["timestamp"])
submission_format

,airport,timestamp,lookahead,config,active
0,katl,2021-01-04 06:00:00,30,katl:D_10_8L_A_10_8L,0.037037
1,katl,2021-01-04 06:00:00,30,katl:D_10_8R_9L_A_10_8L_9R,0.037037
2,katl,2021-01-04 06:00:00,30,katl:D_10_8R_A_10_8R,0.037037
3,katl,2021-01-04 06:00:00,30,katl:D_26L_27L_A_26R_27L_28,0.037037
4,katl,2021-01-04 06:00:00,30,katl:D_26L_27R_28_A_26R_27L_28,0.037037
...,...,...,...,...,...
2468875,ksea,2021-06-20 23:00:00,360,ksea:D_34C_A_34C_34L,0.083333
2468876,ksea,2021-06-20 23:00:00,360,ksea:D_34R_A_34C,0.083333
2468877,ksea,2021-06-20 23:00:00,360,ksea:D_34R_A_34C_34R,0.083333
2468878,ksea,2021-06-20 23:00:00,360,ksea:D_34R_A_34L_34R,0.083333
2468879,ksea,2021-06-20 23:00:00,360,ksea:other,0.083333

In [ ]:
# submission_format 복사본 생성
submission = submission_format.copy()
submission

,airport,timestamp,lookahead,config,active
0,katl,2021-01-04 06:00:00,30,katl:D_10_8L_A_10_8L,0.037037
1,katl,2021-01-04 06:00:00,30,katl:D_10_8R_9L_A_10_8L_9R,0.037037
2,katl,2021-01-04 06:00:00,30,katl:D_10_8R_A_10_8R,0.037037
3,katl,2021-01-04 06:00:00,30,katl:D_26L_27L_A_26R_27L_28,0.037037
4,katl,2021-01-04 06:00:00,30,katl:D_26L_27R_28_A_26R_27L_28,0.037037
...,...,...,...,...,...
2468875,ksea,2021-06-20 23:00:00,360,ksea:D_34C_A_34C_34L,0.083333
2468876,ksea,2021-06-20 23:00:00,360,ksea:D_34R_A_34C,0.083333
2468877,ksea,2021-06-20 23:00:00,360,ksea:D_34R_A_34C_34R,0.083333
2468878,ksea,2021-06-20 23:00:00,360,ksea:D_34R_A_34L_34R,0.083333
2468879,ksea,2021-06-20 23:00:00,360,ksea:other,0.083333

In [ ]:
# config구성 생략(같은 공항, 같은 시간 생략)
submission = submission.drop_duplicates(["airport", "timestamp", "lookahead"]).reset_index(drop=True)
submission

      airport           timestamp  lookahead                config    active
0        katl 2021-01-04 06:00:00         30  katl:D_10_8L_A_10_8L  0.037037
1        katl 2021-01-04 06:00:00         60  katl:D_10_8L_A_10_8L  0.037037
2        katl 2021-01-04 06:00:00         90  katl:D_10_8L_A_10_8L  0.037037
3        katl 2021-01-04 06:00:00        120  katl:D_10_8L_A_10_8L  0.037037
4        katl 2021-01-04 06:00:00        150  katl:D_10_8L_A_10_8L  0.037037
...       ...                 ...        ...                   ...       ...
97195    ksea 2021-06-20 23:00:00        240  ksea:D_16C_A_16C_16R  0.083333
97196    ksea 2021-06-20 23:00:00        270  ksea:D_16C_A_16C_16R  0.083333
97197    ksea 2021-06-20 23:00:00        300  ksea:D_16C_A_16C_16R  0.083333
97198    ksea 2021-06-20 23:00:00        330  ksea:D_16C_A_16C_16R  0.083333
97199    ksea 2021-06-20 23:00:00        360  ksea:D_16C_A_16C_16R  0.083333

[97200 rows x 5 columns]

In [ ]:
# sub_all.csv 읽어오기
sub_all = pd.read_csv("/content/drive/MyDrive/dataset/sub_all.csv")
sub_all

,airport,timestamp,lookahead,config,active,D,A
0,katl,2021-01-04 06:00:00,30.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L
1,katl,2021-01-04 06:00:00,60.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L
2,katl,2021-01-04 06:00:00,90.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L
3,katl,2021-01-04 06:00:00,120.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L
4,katl,2021-01-04 06:00:00,150.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L
...,...,...,...,...,...,...,...
97195,ksea,2021-06-20 23:00:00,240.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R
97196,ksea,2021-06-20 23:00:00,270.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R
97197,ksea,2021-06-20 23:00:00,300.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R
97198,ksea,2021-06-20 23:00:00,330.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R
97199,ksea,2021-06-20 23:00:00,360.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R

In [ ]:
a = sub_all['timestamp'].str.split(' ')
a = a.str.get(1)
a = a.str.split(":")
sub_all['time'] = a = a.str.get(0)
sub_all

,airport,timestamp,lookahead,config,active,D,A,time
0,katl,2021-01-04 06:00:00,30.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06
1,katl,2021-01-04 06:00:00,60.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06
2,katl,2021-01-04 06:00:00,90.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06
3,katl,2021-01-04 06:00:00,120.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06
4,katl,2021-01-04 06:00:00,150.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06
...,...,...,...,...,...,...,...,...
97195,ksea,2021-06-20 23:00:00,240.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23
97196,ksea,2021-06-20 23:00:00,270.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23
97197,ksea,2021-06-20 23:00:00,300.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23
97198,ksea,2021-06-20 23:00:00,330.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23
97199,ksea,2021-06-20 23:00:00,360.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23

In [ ]:
a = sub_all['timestamp'].str.split(' ')
sub_all['timestamp_0'] = a.str.get(0)

a = sub_all['timestamp_0'].str.split('-')
sub_all['year'] = a.str.get(0)
sub_all['mon'] = a.str.get(1)
sub_all['day'] = a.str.get(2)

sub_all

,airport,timestamp,lookahead,config,active,D,A,time,timestamp_0,year,mon,day
0,katl,2021-01-04 06:00:00,30.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,01,04
1,katl,2021-01-04 06:00:00,60.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,01,04
2,katl,2021-01-04 06:00:00,90.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,01,04
3,katl,2021-01-04 06:00:00,120.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,01,04
4,katl,2021-01-04 06:00:00,150.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,01,04
...,...,...,...,...,...,...,...,...,...,...,...,...
97195,ksea,2021-06-20 23:00:00,240.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,06,20
97196,ksea,2021-06-20 23:00:00,270.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,06,20
97197,ksea,2021-06-20 23:00:00,300.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,06,20
97198,ksea,2021-06-20 23:00:00,330.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,06,20
97199,ksea,2021-06-20 23:00:00,360.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,06,20

In [ ]:
sub_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97200 entries, 0 to 97199
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   airport      97200 non-null  object
 1   timestamp    97200 non-null  object
 2   lookahead    97200 non-null  float64
 3   config       97200 non-null  object
 4   active       97200 non-null  float64
 5   D            96948 non-null  object
 6   A            97042 non-null  object
 7   time         97200 non-null  object
 8   timestamp_0  97200 non-null  object
 9   year         97200 non-null  object
 10  mon          97200 non-null  object
 11  day          97200 non-null  object
dtypes: float64(2), object(10)
memory usage: 8.9+ MB

In [ ]:
sub_all['year'] = sub_all['year'].astype(int)
sub_all['mon'] = sub_all['mon'].astype(int)
sub_all['day'] = sub_all['day'].astype(int)
sub_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97200 entries, 0 to 97199
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   airport      97200 non-null  object
 1   timestamp    97200 non-null  object
 2   lookahead    97200 non-null  float64
 3   config       97200 non-null  object
 4   active       97200 non-null  float64
 5   D            96948 non-null  object
 6   A            97042 non-null  object
 7   time         97200 non-null  object
 8   timestamp_0  97200 non-null  object
 9   year         97200 non-null  int64
 10  mon          97200 non-null  int64
 11  day          97200 non-null  int64
dtypes: float64(2), int64(3), object(7)
memory usage: 8.9+ MB

In [ ]:
sub_all['weekday'] = 0
for i in range(len(train_all)):
    sub_all['weekday'][i] = datetime.date(sub_all['year'][i], sub_all['mon'][i], sub_all['day'][i]).weekday()

sub_all

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: ignored

In [ ]:
a = sub_all['D'].str.split('_')
sub_all['D_0'] = a.str.get(0)
sub_all['D_1'] = a.str.get(1)
sub_all['D_2'] = a.str.get(2)

a = sub_all['A'].str.split('_')
sub_all['A_0'] = a.str.get(0)
sub_all['A_1'] = a.str.get(1)
sub_all['A_2'] = a.str.get(2)

sub_all

,airport,timestamp,lookahead,config,active,D,A,time,timestamp_0,year,mon,day,weekday,D_0,D_1,D_2,A_0,A_1,A_2
0,katl,2021-01-04 06:00:00,30.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,1,4,0,26L,27L,27R,26R,27L,NaN
1,katl,2021-01-04 06:00:00,60.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,1,4,0,26L,27L,27R,26R,27L,NaN
2,katl,2021-01-04 06:00:00,90.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,1,4,0,26L,27L,27R,26R,27L,NaN
3,katl,2021-01-04 06:00:00,120.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,1,4,0,26L,27L,27R,26R,27L,NaN
4,katl,2021-01-04 06:00:00,150.0,katl:D_10_8L_A_10_8L,0.037037,26L_27L_27R,26R_27L,06,2021-01-04,2021,1,4,0,26L,27L,27R,26R,27L,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97195,ksea,2021-06-20 23:00:00,240.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,6,20,6,34C,34R,NaN,34C,34L,34R
97196,ksea,2021-06-20 23:00:00,270.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,6,20,6,34C,34R,NaN,34C,34L,34R
97197,ksea,2021-06-20 23:00:00,300.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,6,20,6,34C,34R,NaN,34C,34L,34R
97198,ksea,2021-06-20 23:00:00,330.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,6,20,6,34C,34R,NaN,34C,34L,34R
97199,ksea,2021-06-20 23:00:00,360.0,ksea:D_16C_A_16C_16R,0.083333,34C_34R,34C_34L_34R,23,2021-06-20,2021,6,20,6,34C,34R,NaN,34C,34L,34R

In [ ]:
sub_all['weekday'] = sub_all['weekday'].astype(str)
sub_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97200 entries, 0 to 97199
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   airport      97200 non-null  object
 1   timestamp    97200 non-null  object
 2   lookahead    97200 non-null  float64
 3   config       97200 non-null  object
 4   active       97200 non-null  float64
 5   D            96948 non-null  object
 6   A            97042 non-null  object
 7   time         97200 non-null  object
 8   timestamp_0  97200 non-null  object
 9   year         97200 non-null  int64
 10  mon          97200 non-null  int64
 11  day          97200 non-null  int64
 12  weekday      97200 non-null  object
 13  D_0          96948 non-null  object
 14  D_1          91080 non-null  object
 15  D_2          58305 non-null  object
 16  A_0          97042 non-null  object
 17  A_1          95712 non-null  object
 18  A_2          77663 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 14.1+ MB

# 모델 생성 함수 feature2 + time

In [ ]:
# 데이터 준비 함수
def make_data(train_all, sub_all, num):
    # 공항별 train_model, sub_all 데이터 분리
    train = train_all.loc[train_all['airport'] == airport_directories[num].name]
    sub = sub_all.loc[sub_all['airport'] == airport_directories[num].name]

    # train에 없는데 sub에 있는 조합 고려, 인코딩위한 concat
    all = pd.concat([train, sub])

    # 라벨 인코딩
    led = LabelEncoder()
    all['D'] = led.fit_transform(all['D'])
    # all['D_1'] = led.fit_transform(all['D_1'])
    lea = LabelEncoder()
    all['A'] = lea.fit_transform(all['A'])
    # all['A_1'] = lea.fit_transform(all['A_1'])

    # config는 inverse위해 따로 인코딩
    unique_lists = np.unique(train['config'])
    embedding  = {} 
    inverse_embedding = {} 

    for n,i in enumerate(unique_lists):
        embedding[f'{i}'] = n
        inverse_embedding[f'{n}'] = i

    # config인코딩
    con = train['config'].apply(lambda x : embedding[x])

    # train, subset 분할
    train = all.iloc[:len(train)]
    sub = all.iloc[len(train):]

    # X, Y데이터 지정
    X = train[['D', 'A', 'time', 'weekday']]
    Y = con
    # Y = train[['config']]


    return sub, con, X, Y, inverse_embedding

In [ ]:
# 모델 함수

from sklearn.ensemble import RandomForestClassifier
# import lightgbm as lgb
# from sklearn.metrics import mean_squared_error,roc_auc_score,precision_score, accuracy_score

def make_model(X, Y, sub, inverse_embedding, num, model):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, shuffle=False)

    if model == 'RandomForestClassifier':
        rf = RandomForestClassifier(n_estimators=500, max_depth=100, random_state=0)
        rf.fit(X_train, Y_train)
        print("model_{} score".format(i), rf.score(X_train, Y_train))
        # print("train score :", rf.score(X_train, Y_train))
        # print("test score :", rf.score(X_test, Y_test))


        # submission 예측
        X = sub[['D', 'A', 'time', 'weekday']]

        sub_pro = rf.predict(X)
        # print(sub_pro)
        # sub_pro = np.round(sub_pro, decimals=3)
        # sub_pro = np.argmax(sub_pro, axis = 1)
        sub_pro = pd.Series(sub_pro)
        sub_pro = sub_pro.astype(str)
        sub_pro = sub_pro.apply(lambda x : inverse_embedding[x])

        sub_pro = pd.DataFrame(sub_pro, columns = ['pre_config'])

        return sub_pro

In [ ]:
# RandomForestClassifier(n_estimators=5000, max_depth=100, random_state=0)
for i in range(len(airport_directories)):
    sub, con, X, Y, inverse_embedding = make_data(train_all, sub_all, i)
    sub_pro = make_model(X, Y, sub, inverse_embedding, i, 'RandomForestClassifier')

    if i != 0:
        sub_pro_all = pd.concat([sub_pro_all, sub_pro]).reset_index(drop=True) 
        sub_pro_all
    else:
        sub_pro_all = sub_pro

sub_pro

model_0 score 0.8697115504475081
model_1 score 0.7650644461619007
model_2 score 0.6363217072623469
model_3 score 0.7408566228715315
model_4 score 0.8922490090000249
model_5 score 0.7009423848819526
model_6 score 0.6678217945202064
model_7 score 0.6818204482560893
model_8 score 0.8063000174515719
model_9 score 0.8906160404876468

                pre_config
0     ksea:D_16L_A_16L_16R
1     ksea:D_16L_A_16L_16R
2     ksea:D_16L_A_16L_16R
3     ksea:D_16L_A_16L_16R
4     ksea:D_16L_A_16L_16R
...                    ...
9715  ksea:D_34R_A_34L_34R
9716  ksea:D_34R_A_34L_34R
9717  ksea:D_34R_A_34L_34R
9718  ksea:D_34R_A_34L_34R
9719  ksea:D_34R_A_34L_34R

[9720 rows x 1 columns]

In [ ]:
submission_0 = pd.concat([submission, sub_pro_all], axis = 1)
submission_0

In [ ]:
asd

# 모델 생성 함수 feature4 + time

In [ ]:
# 데이터 준비 함수
def make_data(train_all, sub_all, num):
    # 공항별 train_model, sub_all 데이터 분리
    train = train_all.loc[train_all['airport'] == airport_directories[num].name]
    sub = sub_all.loc[sub_all['airport'] == airport_directories[num].name]

    # train에 없는데 sub에 있는 조합 고려, 인코딩위한 concat
    all = pd.concat([train, sub])

    # 라벨 인코딩
    led = LabelEncoder()
    all['D_0'] = led.fit_transform(all['D_0'])
    all['D_1'] = led.fit_transform(all['D_1'])
    # all['D_2'] = led.fit_transform(all['D_2'])
    lea = LabelEncoder()
    all['A_0'] = lea.fit_transform(all['A_0'])
    all['A_1'] = lea.fit_transform(all['A_1'])
    # all['A_2'] = lea.fit_transform(all['A_2'])

    # config는 inverse위해 따로 인코딩
    unique_lists = np.unique(train['config'])
    embedding  = {} 
    inverse_embedding = {} 

    for n,i in enumerate(unique_lists):
        embedding[f'{i}'] = n
        inverse_embedding[f'{n}'] = i

    # config인코딩
    con = train['config'].apply(lambda x : embedding[x])

    # train, subset 분할
    train = all.iloc[:len(train)]
    sub = all.iloc[len(train):]

    # X, Y데이터 지정
    X = train[['D_0', 'D_1', 'A_0', 'A_1', 'time', 'weekday']]
    Y = con

    return sub, con, X, Y, inverse_embedding

In [ ]:
# 모델 함수

from sklearn.ensemble import RandomForestClassifier
# import lightgbm as lgb
# from sklearn.metrics import mean_squared_error,roc_auc_score,precision_score, accuracy_score

def make_model(X, Y, sub, inverse_embedding, num, model):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, shuffle=False)

    if model == 'RandomForestClassifier':
        rf = RandomForestClassifier(n_estimators=1000, max_depth=100, random_state=0)
        rf.fit(X_train, Y_train)
        print("model_{}".format(i))
        print("train score :", rf.score(X_train, Y_train))
        print("test score :", rf.score(X_test, Y_test))


        # submission 예측
        X = sub[['D_0', 'D_1', 'A_0', 'A_1', 'time', 'weekday']]

        sub_pro = rf.predict(X)
        print(sub_pro)
        # sub_pro = np.round(sub_pro, decimals=3)
        # sub_pro = np.argmax(sub_pro, axis = 1)
        sub_pro = pd.Series(sub_pro)
        sub_pro = sub_pro.astype(str)
        sub_pro = sub_pro.apply(lambda x : inverse_embedding[x])

        sub_pro = pd.DataFrame(sub_pro, columns = ['pre_config'])

        return sub_pro

In [ ]:
# RandomForestClassifier(n_estimators=5000, max_depth=100, random_state=0)
for i in range(len(airport_directories)):
    sub, con, X, Y, inverse_embedding = make_data(train_all, sub_all, i)
    sub_pro = make_model(X, Y, sub, inverse_embedding, i, 'RandomForestClassifier')

    if i != 0:
        sub_pro_all = pd.concat([sub_pro_all, sub_pro]).reset_index(drop=True) 
        sub_pro_all
    else:
        sub_pro_all = sub_pro

sub_pro

In [ ]:
submission_1 = pd.concat([submission, sub_pro_all], axis = 1)
submission_1

# 모델 생성 함수 feature6 + time

In [ ]:
# 데이터 준비 함수
def make_data(train_all, sub_all, num):
    # 공항별 train_model, sub_all 데이터 분리
    train = train_all.loc[train_all['airport'] == airport_directories[num].name]
    sub = sub_all.loc[sub_all['airport'] == airport_directories[num].name]

    # train에 없는데 sub에 있는 조합 고려, 인코딩위한 concat
    all = pd.concat([train, sub])

    # 라벨 인코딩
    led = LabelEncoder()
    all['D_0'] = led.fit_transform(all['D_0'])
    all['D_1'] = led.fit_transform(all['D_1'])
    all['D_2'] = led.fit_transform(all['D_2'])
    lea = LabelEncoder()
    all['A_0'] = lea.fit_transform(all['A_0'])
    all['A_1'] = lea.fit_transform(all['A_1'])
    all['A_2'] = lea.fit_transform(all['A_2'])

    # config는 inverse위해 따로 인코딩
    unique_lists = np.unique(train['config'])
    embedding  = {} 
    inverse_embedding = {} 

    for n,i in enumerate(unique_lists):
        embedding[f'{i}'] = n
        inverse_embedding[f'{n}'] = i

    # config인코딩
    con = train['config'].apply(lambda x : embedding[x])

    # train, subset 분할
    train = all.iloc[:len(train)]
    sub = all.iloc[len(train):]

    # X, Y데이터 지정
    X = train[['D_0', 'D_1', 'D_2', 'A_0', 'A_1', 'A_2', 'time', 'weekday']]
    Y = con

    return sub, con, X, Y, inverse_embedding

In [ ]:
# 모델 함수

from sklearn.ensemble import RandomForestClassifier
# import lightgbm as lgb
# from sklearn.metrics import mean_squared_error,roc_auc_score,precision_score, accuracy_score

def make_model(X, Y, sub, inverse_embedding, num, model):
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, shuffle=False)

    if model == 'RandomForestClassifier':
        rf = RandomForestClassifier(n_estimators=1000, max_depth=100, random_state=0)
        rf.fit(X_train, Y_train)
        print("model_{}".format(i))
        print("train score :", rf.score(X_train, Y_train))
        print("test score :", rf.score(X_test, Y_test))


        # submission 예측
        X = sub[['D_0', 'D_1', 'D_2', 'A_0', 'A_1', 'A_2', 'time', 'weekday']]

        sub_pro = rf.predict(X)
        print(sub_pro)
        # sub_pro = np.round(sub_pro, decimals=3)
        # sub_pro = np.argmax(sub_pro, axis = 1)
        sub_pro = pd.Series(sub_pro)
        sub_pro = sub_pro.astype(str)
        sub_pro = sub_pro.apply(lambda x : inverse_embedding[x])

        sub_pro = pd.DataFrame(sub_pro, columns = ['pre_config'])

        return sub_pro

In [ ]:
# RandomForestClassifier(n_estimators=5000, max_depth=100, random_state=0)
for i in range(len(airport_directories)):
    sub, con, X, Y, inverse_embedding = make_data(train_all, sub_all, i)
    sub_pro = make_model(X, Y, sub, inverse_embedding, i, 'RandomForestClassifier')

    if i != 0:
        sub_pro_all = pd.concat([sub_pro_all, sub_pro]).reset_index(drop=True) 
        sub_pro_all
    else:
        sub_pro_all = sub_pro

sub_pro

In [ ]:
submission_2 = pd.concat([submission, sub_pro_all], axis = 1)
submission_2

# submission에 pro 결과 취합

In [ ]:
# # open_submission_format 읽어오기
# submission_format = pd.read_csv("/content/drive/MyDrive/dataset/open_submission_format.csv")
# submission_format

In [ ]:
sub_format = submission_format.copy()

active 계산법

submission_format파일의 공항별 config 개수가 같으므로

예측값이 아닌 config = 1/(config개수+1)

예측된 config = 2/(config개수+1)로 상대적으로 높은 확률 부여해줌

In [ ]:
# 각 공항별 config의 unique개수 (각 공항별 config 개수는 같지만, 구성은 다름)
unique_num = []
for i in range(len(airport_directories)):
  unique_num.append(len(train_all.loc[train_all['airport'] == airport_directories[i].name]['config'].unique()))

unique_num

In [ ]:
unique_rate = []
for i in range(len(unique_num)):
  unique_rate.append( 1/(unique_num[i]+1) )

unique_rate

In [ ]:
len(unique_rate)

In [ ]:
from tqdm import tqdm

In [ ]:
# for i in range(len(unique_rate)):
#   submission_format.loc[submission_format['airport'] == airport_directories[i].name, 'active'] = unique_rate[i]

In [ ]:
# submission_format

In [ ]:
# 예측하지 않은 config에 균일한 확률 부여
for i in range(len(unique_rate)):
  sub_format.loc[sub_format['airport'] == airport_directories[i].name, 'active'] = unique_rate[i]

sub_format

In [ ]:
# submission에서 예측한 config에 가중치 부여
for i in range(len(unique_rate)):
  submission_0.loc[submission_0['airport'] == airport_directories[i].name, 'active'] = unique_rate[i]*2

submission_0

In [ ]:
# submission_1.csv 드라이브에 저장
# submission_1.to_csv('/content/drive/MyDrive/dataset/submission_1.csv', header=True, index = False)

In [ ]:
# submission_1.csv 읽어오기
# submission_1 = pd.read_csv("/content/drive/MyDrive/dataset/submission_1.csv")
# submission_1

In [ ]:
# 가중치 함수

def final_weight(sub_format):
  for j in range(len(unique_rate)):
    a = sub_format.loc[sub_format['airport'] == airport_directories[j].name].reset_index(drop=True)
    b = submission_0.loc[submission_0['airport'] == airport_directories[j].name].reset_index(drop=True)

    for i in tqdm(range(len(b))):
      a.loc[(a['timestamp'] == b['timestamp'][i]) & (a['lookahead'] == b['lookahead'][i]) & (a['config'] == b['pre_config'][i]), 'active'] = b['active'][i]

    if j != 0:
      all = pd.concat([all, a])
    else:
      all = a

  return all.reset_index(drop=True)

In [ ]:
all = final_weight(sub_format)

In [ ]:
submission_format['active'] = all['active']
submission_format

In [ ]:
submission_format.head(50)

In [ ]:
submission_format.loc[submission_format['config'] == "kmia:D_12_8L_8R_9_A_12_8L_8R_9", 'active'] = unique_rate[6]*2

In [ ]:
# submission_format.csv 드라이브에 저장
submission_format.to_csv('/content/drive/MyDrive/dataset/all_RF.csv', index = False)